<h1>Listing site_templates</h1>

<table>
  <tr>
    <th>Layout</th>
  </tr>

<% @site_templates.each do |site_template| %>
  <tr>
    <td><%=h site_template.layout %></td>
    <td><%= link_to 'Show', site_template %></td>
    <td><%= link_to 'Edit', edit_site_template_path(site_template) %></td>
    <td><%= link_to 'Destroy', site_template, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New site_template', new_site_template_path %>